 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>
                        Hi, I'm David and I love solving problems with code. My first experience with programming was almost 2 years ago and ever since then
                        I've been spending every spare minute learning, practicing and improving my skills and knowledge.
                        Now I'm excited about looking for my first professional developer role.
                    </p>
                    <p>
                        When I'm not programming I enjoy reading, cooking, working out and playing computer games.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="CV/CV-David Wesseling.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-file"></i> View CV
                    </a>
                </div>
            </div>
        </div>
    </section>
