    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container-fluid">
                <div class="row">
                    <div class="footer-col col-md-3 col-md-offset-2">
                        <h2>{{ site.footer.lColumn }}</h2>
                        <hr class="star-light" />
                        <p>
                            <span style=" font-size:40px;"> C# </span>
                            <span style="font-size:25px"> Github </span>
                            <span style=" font-size:35px;"> Visual Studio </span>
                            <span style=" font-size:25px;"> HTML </span>
                            <span style="font-size:20px"> CSS </span>
                            <span style="font-size:20px"> Python </span>
                        </p>

                    </div>

                    <div class="footer-col col-md-3 col-md-offset-2">
                        <h2>{{ site.footer.rColumn }}</h2>
                        <hr class="star-light" />
                        <p>
                            <span style=" font-size:15px;"> Pluralsight </span>
                            <span style=" font-size:35px;"> Codecademy </span>
                            <span style="font-size:25px"> Hackerrank </span>
                            <span style="font-size:25px"> Stack Overflow </span>
                            <span style=" font-size:35px;"> Codewars </span>
                        </p>
                    </div>
                </div>

                <div class="footer-col col-md-2 col-md-offset-5" style="margin-bottom:10px; margin-top:-50px;">
                    <!--<h3>{{ site.footer.social }}</h3>-->
                    <ul class="list-inline">
                        <li> <a href="https://uk.linkedin.com/in/david-wesseling-a511748a"><img src="/img/social-media-icons/linkedin-round-white-IN.png" border="0" width="40" height="40" alt="IMG"></a> </li>

                        <li> <a href="https://github.com/Deign77"><img src="/img/social-media-icons/black-github-icon.png" border="0" width="47" height="47" alt="IMG"></a> </li>

                        <li> <a href="https://www.hackerrank.com/david_wesseling1"><img src="/img/social-media-icons/hackerrank white H.webp" border="0" width="42" height="42" alt="IMG"></a> </li>

                        <li> <a href="https://www.codewars.com/users/Deign"><img src="/img/social-media-icons/codewars-white-arms.webp" border="0" width="37" height="37" alt="IMG"></a> </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        {{ site.footer.copyright }}  &copy; 20{{ site.time | date: '%y' }} 
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
